---
import { getCollection } from "astro:content";

interface Article {
  id: string;
  slug: string;
  body: string;
  collection: "articles";
  data: {
    title: string;
    pubDate: Date;
    description?: string;
    category?: string[];
    author: string;
    image?: {
      url: string;
      alt: string;
    };
    tags?: string[];
    draft?: boolean;
  };
}

// Calculate reading time based on words per minute
function calculateReadingTime(text: string, wordsPerMinute = 200): number {
  const words = text.split(/\s+/).length;
  return Math.ceil(words / wordsPerMinute);
}

const fetchPosts = async () => {
  const allPosts = await getCollection("articles");
  const publishedPosts = allPosts.filter((post: any) => !post.data.draft);
  return publishedPosts
    .sort(
      (a: any, b: any) =>
        new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime(),
    )
    .slice(0, 4);
};

const posts = await fetchPosts();
---

<div class="flex flex-col mt-48">
  <div class="flex items-center">
    <h6>📰 Latest Articles</h6>
    <a href="/articles" class="ml-auto">View all &rarr;</a>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-2 mt-5">
    {
      posts.map((post: Article) => {
        // Use limitedPosts instead of page.data
        const pubDate = new Date(post.data.pubDate);
        const month = pubDate.toLocaleString("default", { month: "short" });
        const day = pubDate.getDate();
        const year = pubDate.getFullYear();

        const readingTime = calculateReadingTime(post.body); // Calculate reading time

        return (
          <a
            class="text-white hover:text-white bg-[#080808] border border-[#191919] hover:bg-neutral-900 p-5 rounded"
            href={`/articles/${post.slug}`}
          >
            <div class="flex flex-col justify-center">
              <p class="text-xl font-bold">{post.data.title}</p>
              <p class="text-neutral-400">
                {month} {day}, {year} • {readingTime} min read
              </p>
            </div>
          </a>
        );
      })
    }
  </div>
</div>
